In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sales

In [16]:
sales=pd.read_csv('C:/Users/Acer/Downloads/dirty_cafe_sales.xls')

In [5]:
import os
os.getcwd()

'C:\\Users\\Acer\\project'

In [4]:
sales.tail(50)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9950,TXN_2818204,Cake,1,3.0,3.0,Digital Wallet,NaN,2023-03-09
9951,TXN_4122925,ERROR,4,1.0,4.0,NaN,Takeaway,2023-10-20
9952,TXN_9407169,Sandwich,1,4.0,4.0,Digital Wallet,NaN,2023-01-28
9953,TXN_8966400,Cake,5,3.0,15.0,Credit Card,Takeaway,2023-11-29
9954,TXN_1191659,Coffee,4,2.0,ERROR,Credit Card,In-store,2023-11-21
9955,TXN_9187008,Tea,4,1.5,6.0,ERROR,NaN,2023-09-16
9956,TXN_1958525,Cookie,3,1.0,3.0,NaN,Takeaway,2023-10-08
9957,TXN_6487003,Coffee,ERROR,2.0,8.0,Credit Card,Takeaway,2023-11-15
9958,TXN_4125474,ERROR,2,5.0,10.0,Credit Card,In-store,2023-08-02
9959,TXN_4556831,Juice,2,3.0,6.0,Digital Wallet,In-store,2023-05-28
9960,TXN_3546629,Juice,5,3.0,15.0,NaN,In-store,2023-03-04
9961,TXN_2153100,Tea,2,UNKNOWN,3.0,Cash,NaN,2023-12-29
9962,TXN_4723089,Sandwich,4,4.0,16.0,Cash,In-store,2023-05-23
9963,TXN_8545707,Cake,5,3.0,15.0,NaN,Takeaway,2023-02-14
9964,TXN_8938445,Cake,3,3.0,9.0,NaN,In-store,2023-11-07
9965,TXN_5846013,Tea,2,1.5,3.0,Digital Wallet,NaN,2023-12-20
9966,TXN_6494265,Coffee,2,2.0,4.0,NaN,NaN,2023-05-24
9967,TXN_8563793,Juice,4,3.0,12.0,NaN,In-store,2023-03-26
9968,TXN_8866974,Smoothie,3,4.0,12.0,Digital Wallet,Takeaway,2023-03-14
9969,TXN_9954652,Coffee,2,2.0,4.0,Cash,In-store,2023-09-12
9970,TXN_5762440,Sandwich,5,4.0,20.0,Cash,In-store,2023-03-05
9971,TXN_6120851,Salad,5,5.0,25.0,Cash,Takeaway,2023-02-04
9972,TXN_3124078,Cake,4,3.0,12.0,UNKNOWN,In-store,2023-08-06
9973,TXN_7936002,Salad,2,5.0,10.0,Digital Wallet,NaN,2023-01-26
9974,TXN_8076061,Tea,4,1.5,6.0,Cash,In-store,2023-04-01
9975,TXN_9668108,Cake,1,3.0,3.0,Cash,In-store,2023-01-20
9976,TXN_3528020,Cookie,1,1.0,1.0,NaN,Takeaway,2023-08-26
9977,TXN_5548914,Juice,2,3.0,ERROR,Digital Wallet,In-store,2023-11-04
9978,TXN_4302199,Tea,3,1.5,4.5,NaN,NaN,2023-02-16
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,2023-07-20
9980,TXN_6796890,Tea,4,1.5,6.0,UNKNOWN,NaN,2023-08-24
9981,TXN_4583012,ERROR,5,4.0,20.0,Digital Wallet,NaN,2023-02-27
9982,TXN_8567525,Cookie,2,1.0,2.0,NaN,Takeaway,2023-12-30
9983,TXN_9226047,Smoothie,3,4.0,12.0,Cash,NaN,UNKNOWN
9984,TXN_3142496,Smoothie,UNKNOWN,4.0,4.0,Cash,Takeaway,2023-07-27
9985,TXN_3297457,Cake,2,3.0,6.0,NaN,UNKNOWN,2023-01-03
9986,TXN_2858441,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-12-14
9987,TXN_1784478,Juice,5,3.0,15.0,Cash,NaN,2023-07-31
9988,TXN_9594133,Cake,5,3.0,NaN,ERROR,NaN,NaN
9989,TXN_1741685,Juice,5,3.0,15.0,Cash,NaN,2023-08-18
9990,TXN_1538510,Coffee,5,2.0,10.0,Digital Wallet,NaN,2023-05-22
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,2023-02-24
9992,TXN_2739140,Smoothie,4,4.0,16.0,UNKNOWN,In-store,2023-07-05
9993,TXN_4766549,Smoothie,2,4.0,NaN,Cash,NaN,2023-10-20
9994,TXN_7851634,UNKNOWN,4,4.0,16.0,NaN,NaN,2023-01-08
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [34]:
sales.isnull().sum()

Transaction ID         0
Item                   0
Quantity             332
Price Per Unit         0
Total Spent          332
Payment Method      2288
Location            3001
Transaction Date     424
dtype: int64

In [6]:
sales['Item'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: Item, Length: 10000, dtype: bool

In [7]:
sales[sales.duplicated()]

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

In [8]:
price_map = {
    'Coffee': 2,
    'Tea': 1.5,
    'Sandwich': 4,
    'Salad': 5,
    'Cake': 3,
    'Cookie': 1,
    'Smoothie': 4,
    'Juice': 3
}

In [9]:
sales['Price Per Unit'] = sales['Item'].map(price_map)

In [10]:
# Code used to find these rows:
missing_item_with_price = sales[sales['Item'].isna() & sales['Price Per Unit'].notna()]

In [11]:
missing_item_with_price

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

In [33]:
sales.dtypes

Transaction ID      string[python]
Item                      category
Quantity                   float64
Price Per Unit             Float64
Total Spent                Float64
Payment Method            category
Location                  category
Transaction Date    datetime64[ns]
dtype: object

In [13]:
sales['Transaction ID']=sales['Transaction ID'].astype('string')

In [14]:
sales['Item']=sales['Item'].astype('category')
sales['Payment Method'] = sales['Payment Method'].astype('category')
sales['Location'] = sales['Location'].astype('category')

In [15]:
sales['Quantity'] = pd.to_numeric(sales['Quantity'], errors='coerce').astype('Int64')

In [16]:
sales['Transaction Date'] = pd.to_datetime(sales['Transaction Date'], errors='coerce')

In [17]:
sales['Total Spent'] = pd.to_numeric(sales['Total Spent'], errors='coerce').astype('Float64')

In [18]:
sales['Price Per Unit'] = sales['Price Per Unit'].fillna(sales['Total Spent'] /sales['Quantity'])

In [19]:
price_to_item = {
    2.0: 'Coffee',
    1.5: 'Tea',
    4.0: 'Sandwich', 
    5.0: 'Salad',
    3.0: 'Cake',     
    1.0: 'Cookie'
}

In [20]:
sales['Item'] = sales['Item'].fillna(sales['Price Per Unit'].map(price_to_item))

In [21]:
# List of items you want to keep
allowed_items = ['Coffee', 'Tea', 'Sandwich', 'Salad', 'Cake', 'Cookie', 'Smoothie', 'Juice']

In [22]:
# This says: Keep the item if it's in my list, otherwise make it NaN
sales['Item'] = sales['Item'].where(sales['Item'].isin(allowed_items), np.nan)

In [23]:
sales[sales['Quantity'].isna()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
20,TXN_3522028,Smoothie,<NA>,4.0,20.0,Cash,In-store,2023-04-04
55,TXN_5522862,Cookie,<NA>,1.0,2.0,Credit Card,Takeaway,2023-03-19
57,TXN_2080895,Cake,<NA>,3.0,3.0,Digital Wallet,In-store,2023-04-19
66,TXN_8501819,Juice,<NA>,3.0,6.0,Cash,NaN,2023-03-30
117,TXN_2148617,Juice,<NA>,3.0,9.0,Digital Wallet,UNKNOWN,2023-01-10
...,...,...,...,...,...,...,...,...
9932,TXN_8502079,Tea,<NA>,1.5,3.0,Cash,NaN,2023-04-20
9935,TXN_9778251,Tea,<NA>,1.5,6.0,NaN,Takeaway,2023-11-09
9944,TXN_7495283,Cake,<NA>,3.0,15.0,Credit Card,Takeaway,2023-04-14
9957,TXN_6487003,Coffee,<NA>,2.0,8.0,Credit Card,Takeaway,2023-11-15
9984,TXN_3142496,Smoothie,<NA>,4.0,4.0,Cash,Takeaway,2023-07-27

In [24]:
sales = sales.dropna(subset=['Item'])

In [25]:
# correct price for the item
# convet the data type
# put vlaue in empty place at price with totak spending/quantity
# correct the item for the price
# convert the all item other than allowed item to nan
# delete all item which is nan
# there i no nan in item and price

In [26]:


sales['Quantity'] = np.where(
    sales['Total Spent'].notna() & sales['Price Per Unit'].notna(),
    sales['Total Spent'] / sales['Price Per Unit'],
    np.nan
)

C:\Users\Acer\AppData\Local\Temp\ipykernel_21744\1756798165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['Quantity'] = np.where(

In [27]:
sales

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,<NA>,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

# check for the row where all of ther are null and drop

In [28]:

row_all_null= sales[
sales[['Quantity', 'Total Spent', 'Payment Method']].isna().all(axis=1)
]
row_all_null

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
42,TXN_6650263,Tea,NaN,1.5,<NA>,NaN,Takeaway,2023-01-10
65,TXN_4987129,Sandwich,NaN,4.0,<NA>,NaN,In-store,2023-10-20
171,TXN_8989148,Tea,NaN,1.5,<NA>,NaN,NaN,2023-11-25
236,TXN_8562645,Salad,NaN,5.0,<NA>,NaN,In-store,2023-05-18
450,TXN_8763180,Smoothie,NaN,4.0,<NA>,NaN,Takeaway,2023-04-16
...,...,...,...,...,...,...,...,...
9451,TXN_9055374,Sandwich,NaN,4.0,<NA>,NaN,Takeaway,NaT
9483,TXN_6700745,Juice,NaN,3.0,<NA>,NaN,In-store,2023-04-23
9516,TXN_3703482,Cake,NaN,3.0,<NA>,NaN,UNKNOWN,2023-01-08
9637,TXN_8018572,Cookie,NaN,1.0,<NA>,NaN,In-store,2023-10-09
9798,TXN_2823220,Salad,NaN,5.0,<NA>,NaN,In-store,2023-05-17

In [29]:
sales = sales.drop(row_all_null.index)

In [30]:
sales

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,<NA>,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [31]:
sales = sales.reset_index(drop=True)

In [57]:
sales.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Month
9210,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,NaN,2023-08-30,August
9211,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02,June
9212,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02,March
9213,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02,December
9214,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07,November

In [38]:
sales['Payment Method'] = sales['Payment Method'].replace(
    ['UNKNOWN', 'error', 'Unknown', 'ERROR', 'N/A', 'null', ''],
    np.nan
)

C:\Users\Acer\AppData\Local\Temp\ipykernel_21744\783799036.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  sales['Payment Method'] = sales['Payment Method'].replace(

In [44]:
sales['Location'] = sales['Location'].replace(
    ['UNKNOWN', 'error', 'Unknown', 'ERROR', 'N/A', 'null', ''],
    np.nan
)

C:\Users\Acer\AppData\Local\Temp\ipykernel_21744\2715757874.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  sales['Location'] = sales['Location'].replace(

In [48]:
sales.drop('Location\t', axis=1, inplace=True)

In [50]:
sales['Transaction Date'] = sales['Transaction Date'].replace(
    ['UNKNOWN', 'error', 'Unknown', 'ERROR', 'N/A', 'null', ''],
    np.nan
)

In [56]:
sales['Month'] = sales['Transaction Date'].dt.month_name()

missing_dates = sales['Transaction Date'].isna().sum()
print(f"Rows with unfixable dates: {missing_dates}")

Rows with unfixable dates: 424

In [64]:
sales.to_csv('dirtycafe_cleaned.csv', index=False)